@import 'tailwindcss';

@theme {
    /* Black & White */
    --color-black: #000000;
    --color-white: #ffffff;

    /* Orange */
    --color-green-100: #f8fee6;
    --color-green-200: #f5fed9;
    --color-green-300: #e9fdb0;
    --color-green-400: #b9f900;
    --color-green-500: #a7e000;
    --color-green-600: #8bbb00;
    --color-green-700: #6f9500;
    --color-green-800: #537000;
    --color-green-900: #415700;

    /* Green */
    --color-green-100: #f8fee6;
    --color-green-200: #f5fed9;
    --color-green-300: #e9fdb0;
    --color-green-400: #b9f900;
    --color-green-500: #a7e000;
    --color-green-600: #8bbb00;
    --color-green-700: #6f9500;
    --color-green-800: #537000;
    --color-green-900: #415700;

    /* Gray */
    --color-gray-50: #f6f6f7;
    --color-gray-100: #e3e3e5;
    --color-gray-200: #cfcfd2;
    --color-gray-300: #b8b9bd;
    --color-gray-400: #9d9ea3;
    --color-gray-500: #818288;
    --color-gray-600: #5e6066;
    --color-gray-700: #44464b;
    --color-gray-800: #2b2c30;
    --color-gray-900: #1a1b1f;

    /* Red */
    --color-red-600: #ef4444;

    /* Font Family */
    --font-family-sans: 'Pretendard', 'system-ui', 'sans-serif';

    /* Font Weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font Sizes & Line Heights */
    --font-size-xs: 12px;
    --line-height-xs: 16px;
    --font-size-sm: 14px;
    --line-height-sm: 20px;
    --font-size-base: 16px;
    --line-height-base: 24px;
    --font-size-lg: 18px;
    --line-height-lg: 28px;
    --font-size-xl: 20px;
    --line-height-xl: 30px;
    --font-size-2xl: 24px;
    --line-height-2xl: 32px;
    --font-size-3xl: 30px;
    --line-height-3xl: 36px;
}

@layer base {
    html {
        font-family: var(--font-family-sans);
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 18px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5e6066;
    border-radius: 100px;
    border: 6px solid #2b2c30;
}
